@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.content-wrapper {
    background-color: #ffffff !important;

}
body{
    background-color: white  !important;
}

.bg-pink {
    color: white !important;
    background-color: #ff73c9 !important;

}


.bg-rose {
    color: white !important;
    background-color: #ea1fa8 !important;

}

.bg-softpurple{
    color: white !important;
    background-color: #e066ec !important;

}


.bg-sky {
    color: white !important;
    background-color: #317ece !important;

}
.bg-clarito {
    color: #6C97BB !important;
    background-color: #F3F7F8 !important;

}

.bg-plomito {
    color: #064a93 !important;
    background-color: #d5d5d5 !important;

}



.rosita {
    color: #d969c8 !important;


}



.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 30px;
    top: 20px;
}

.letrita{
    font-size: 0.8em;
}


.btn{
    font-size: 0.8em !important;
}
