@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.content-wrapper {
    background-color: #ffffff !important;

}
body{
    background-color: white  !important;
    font-size: 0.8em;

}

.bg-pink {
    color: white !important;
    background-color: #ff73c9 !important;

}


.bg-rose {
    color: white !important;
    background-color: #ea1fa8 !important;

}

.bg-orange {
    color: white !important;
    background-color: #ef9b00 !important;

}

.bg-orangetitle {
    color: white !important;
    background-color: #FFCA29FF !important;

}

.bg-geranio {
    color: white !important;
    background-color: #EA1F44FF !important;

}

.bg-titlegeranio {
    color: white !important;
    background-color: #fa5572 !important;

}

.bg-softpurple{
    color: white !important;
    background-color: #e066ec !important;

}


.bg-sky {
    color: white !important;
    background-color: #317ece !important;

}
.bg-clarito {
    color: #6C97BB !important;
    background-color: #F3F7F8 !important;

}

.bg-plomito {

    background-color: #e3e3e3 !important;

}



.rosita {
    color: #d969c8 !important;


}



.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 30px;
    top: 20px;
}

.letrita{
    font-size: 0.8em;
}


.btn{
    font-size: 0.9em !important;
}

.fontsmall{
    font-size: 1em !important;
}
